{% extends "base.html" %}
{% load static %}
{% block title %}
X-Empire - Check In/Out
{% endblock title %}

{% block content %}

<link rel="stylesheet" href="./accounts2.css">
<div class="content">
    {% comment %} page header {% endcomment %}
    {% include "header.html" %}
    {% comment %} end page header {% endcomment %}
    <main>
    <div class=" card ">
         <div class="card-body">

         </div>
        </div>
        <div>jjjjjj</div>
    </main>
</body>
</html>
{% endblock content %}