{% extends "base.html" %}
{% load static %}
{% block title %}
X-Empire - Check In/Out
{% endblock title %}

{% block content %}

		<div class="content">
			{% comment %} page header {% endcomment %}
			{% include "header.html" %}
			{% comment %} end page header {% endcomment %}
			<!-- start: page body area -->
		<div class="px-xl-5 px-lg-4 px-3 py-3 page-body">
                <div class="row g-3">
					<div class="col-sm-12">
						<div class="d-flex align-items-center justify-content-between flex-wrap">
							<h3 class="fw-bold mb-0">Checkin Out</h3>
							<div class="col-auto d-flex w-sm-100">
								<select class="form-select">
									<option selected>Choose Room No</option>
									{% for room in rooms %}
									<option value="{{room.room_number}}">
									Room -	{{room.room_number}}
									</option>
									{% endfor %}
									
								</select>
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="card">
							<div class="card-header">
								<h6 class="card-title">Customer Details</h6>
							</div>
							<div class="card-body">
								<div class="table-responsive">
									<table class="table table-sm table-bordered mb-0">
									  <tbody>
										{% comment %} {% for reservations in reservation %} {% endcomment %}
										<tr>
										  <th scope="row">Name:</th>
										  <td>{{reservation.guest.first_name}} {{reservation.guest.last_name}}</td>
										</tr>
										<tr>
										  <th scope="row">Room No. </th>
										  <td>{{reservation.room.room_number}}</td>
										</tr>
										{% comment %} <tr>
										  <th scope="row">Booking No</th>
										  <td>11580</td>
										</tr> {% endcomment %}
										<tr>
										  <th scope="row">Email ID</th>
										  <td>{{reservation.guest.email}}</td>
										</tr>
										<tr>
											<th scope="row">Mobile No</th>
											<td>{{reservation.guest.phone_number}}</td>
										</tr>
										<tr>
											<th scope="row">Address</th>
											<td>
												{{reservation.}}
											</td>
										</tr>
										<tr>
											<th scope="row">Time Format</th>
											<td>24HRS</td>
										</tr>
										{% comment %} {% endfor %} {% endcomment %}

									  </tbody>
									</table>
								</div>
							</div>
						</div>
				  	</div>
					{% comment %} <div class="col-md-12">
						<div class="card">
							<div class="card-header">
								<h6 class="card-title">Billing Details</h6>
							</div>
							<div class="card-body">
								<div class="table-responsive">
									<table class="table table-sm table-bordered mb-0">
									  <tbody>
										<tr>
										  <th scope="row">Room Rent Amt</th>
										  <td>$800</td>
										</tr>
										<tr>
										  <th scope="row">Discount Amt</th>
										  <td>$0</td>
										</tr>
										<tr>
										  <th scope="row">Service Charge Amt</th>
										  <td>$56</td>
										</tr>
										<tr>
											<th scope="row">Total Room Rent Amt</th>
											<td>$856</td>
										</tr>
										<tr>
											<th scope="row">Room Amt With Tax</th>
											<td>$972</td>
										</tr>
										<tr>
											<th scope="row">Advance Amt</th>
											<td>$0</td>
										</tr>
										<tr>
											<th scope="row">Payable Rent Amt</th>
											<td>$972</td>
										</tr>
									  </tbody>
									</table>
								</div>
							</div>
						</div>
				  	</div>
					<div class="col-md-12">
						<div class="card">
							<div class="card-header">
								<h6 class="card-title">Bill Details</h6>
							</div>
							<div class="card-body">
								<div class="table-wrapper">
									<table class="table table-bordered mb-0">
										<thead>
											<tr>
												<th>Room No.</th>
												<th>Date</th>
												<th>Room Type</th>
												<th>Guest Details</th>
												<th class="text-center">Room Rent Details</th>
												<th>Tax Details</th>
												<th>Total Amount</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td rowspan="2">
													<strong class="d-block">102</strong>
													<span>Single Room</span>
												</td>
												<td rowspan="2">
													<div>
														23rd Mar 0300 to<br>
														25th Mar 0300 
													</div>
												</td>
												<td rowspan="2">Single Room</td>
												<td>
													<div class="text-muted">Adults: 1 </div>
												</td>
												<td rowspan="2">
													<table class="table table-bordered">
														<thead>
															<tr>
																<th>#</th>
																<th>From Date</th>
																<th>To Date</th>
																<th>NoD</th>
																<th>($) Rent/ Day</th>
																<th>($) Rent Discount</th>
																<th>($) Tot. Rent</th>
															</tr>
														</thead>
														<tbody>
															<tr>
																<td>1</td>
																<td>2023-03-23</td>
																<td>2023-03-25</td>
																<td>2</td>
																<td>1600</td>
																<td>0</td>
																<td>2560</td>
															</tr>
														</tbody>
													</table>
												</td>
												<td>
													<div class="text-muted">Tax Details:</div>
													<div>(RST3.00% )76.8</div>
													<div>(GST4.00% )102.4</div>
													<div>(DST4.00% )102.4</div>
													<div>(MSL3.50% )89.6</div>
												</td>
												<td rowspan="2">2931.2</td>
											</tr>
											<tr>
												<td>
													<div class="text-muted">Children: 0 </div>
												</td>
												<td>
													<div class="text-muted">Subtotal:</div>
													<div>2560</div>
													<div class="text-muted">Total Tax:</div>
													<div>371.2</div>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="card">
							<div class="card-header">
								<h6 class="card-title">Additional Charges</h6>
							</div>
							<div class="card-body">
								<div class="table-responsive">
									<table class="table table-sm table-bordered mb-0">
									  <tbody>
										<tr>
										  <th scope="row">Additional Charges</th>
										  <td><input type="number" class="form-control" placeholder="Extra Charge"></td>
										</tr>
										<tr>
										  <th scope="row">Comments</th>
										  <td><textarea class="form-control"></textarea></td>
										</tr>
									</table>
									<hr>
									<h6 class="card-title mb-3">Payments Details</h6>
									<table class="table table-sm table-bordered mb-0">
										<tr>
										  <th scope="row">Net Payable Amt</th>
										  <td>$3110.4</td>
										</tr>
										<tr>
											<th scope="row">Special Discount Amtt</th>
											<td>$0.0</td>
										</tr>
										<tr>
											<th scope="row">Payable Amt</th>
											<td>$3110.4</td>
										</tr>
									  </tbody>
									</table>
								</div>
							</div>
						</div>
				  	</div>
					<div class="col-md-12">
						<div class="card">
							<div class="card-header">
								<h6 class="card-title">Special Discount</h6>
							</div>
							<div class="card-body">
								<div class="table-responsive">
									<table class="table table-sm table-bordered mb-0">
									  <tbody>
										<tr>
										  <th scope="row">Discount Type</th>
										  	<td>
												<select class="form-select">
													<option selected>Choose Discount</option>
													<option value="1">Friends</option>
													<option value="2">Regular Customer</option>
													<option value="3">MD Guest</option>
													<option value="4">Allocation</option>
													<option value="5">Business Seminar</option>
													<option value="6">Wedding</option>
												</select>
											</td>
										</tr>
										<tr>
											<th scope="row">Discount Amt</th>
											<td><input type="number" class="form-control" placeholder="Discount Amt"></td>
										</tr>
										<tr>
										  <th scope="row">Remarks</th>
										  <td><textarea class="form-control"></textarea></td>
										</tr>
									</table>
									<hr>
									<h6 class="card-title mb-3">Balance Details</h6>
									<table class="table table-sm table-bordered mb-0">
										<tr>
										  <th scope="row">Remain Amt</th>
										  <td>$3110.4</td>
										</tr>
										<tr>
											<th scope="row">Collected Amt</th>
											<td>$0.0</td>
										</tr>
										<tr>
											<th scope="row">Change Amt</th>
											<td>$3110.4</td>
										</tr>
									  </tbody>
									</table>
								</div>
							</div>
						</div>
				  	</div> {% endcomment %}
					<div class="col-sm-12 text-end">
						<a href="checkin-payment.html" class="btn btn-primary">Checkout</a>
					</div>
                </div><!-- Row End -->
			</div>
		</div>

{% endblock content %}


	<script>
		$(document).ready( function () {
            $('.dataTable')
            .addClass( 'nowrap' )
            .dataTable( {
                responsive: true,
            });
        });

	</script>