{% extends "base.html" %}
{% load static %}
{% block title %}
X-Empire - Hotels
{% endblock title %}

{% block content %}
<!-- start: page body area -->
<div class="content">
	{% comment %} page header {% endcomment %}
	{% include "header.html" %}
	{% comment %} end page header {% endcomment %}
	<!-- start: page body area -->
	<div class="px-xl-5 px-lg-4 px-3 py-3 page-body">
		<div class="row mb-3">
			<div class="col-sm-12">
				<div class="d-flex align-items-center justify-content-between flex-wrap">
					<h3 class="fw-bold mb-0">Accounts</h3>
				</div>
			</div>
		</div>
		<ul class="row g-2 list-unstyled li_animate row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-1 row-deck mb-lg-5 mb-4">
			<li class="col">
				<a class="card hr-arrow p-4" href="{% url "item-list" user.id %}" title="Items Manage" style="--dynamic-color: var(--theme-color6);">
					<svg xmlns="http://www.w3.org/2000/svg" class="mb-3" width="24" viewBox="0 0 24 24" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
						<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
						<path d="M13 5h8"></path>
						<path d="M13 9h5"></path>
						<path d="M13 15h8"></path>
						<path d="M13 19h5"></path>
						<path d="M3 4m0 1a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v4a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z"></path>
						<path d="M3 14m0 1a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v4a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z"></path>
					</svg>
					<h6 class="title mb-1">Items Manage</h6>
					<p class="small text-muted mb-0 d-none d-xl-inline-flex">Description text here...</p>
					<div class="go-corner">
						<div class="go-arrow">→</div>
					</div>
				</a>
			</li>
			
			<li class="col">
				<a class="card hr-arrow p-4" href="{% url "booking-report" user.id %}" title="Reports" style="--dynamic-color: var(--theme-color1);">
					<svg xmlns="http://www.w3.org/2000/svg" class="mb-3" width="24" viewBox="0 0 24 24"  stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/>
						<path d="M8 5h-2a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h5.697" />
						<path d="M18 14v4h4" />
						<path d="M18 11v-4a2 2 0 0 0 -2 -2h-2" />
						<path d="M8 3m0 2a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v0a2 2 0 0 1 -2 2h-2a2 2 0 0 1 -2 -2z" />
						<path d="M18 18m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0" />
						<path d="M8 11h4" />
						<path d="M8 15h3" />
					</svg>
					<h6 class="title mb-1">Booking Reports</h6>
					<p class="small text-muted mb-0 d-none d-xl-inline-flex">Description text here...</p>
					<div class="go-corner">
						<div class="go-arrow">→</div>
					</div>
				</a>
			</li>
			<li class="col">
				<a class="card hr-arrow p-4" href="{% url "purchase-report" user.id %}" title="Reports" style="--dynamic-color: var(--theme-color4);">
					<svg xmlns="http://www.w3.org/2000/svg" class="mb-3" width="24" viewBox="0 0 24 24"  stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/>
						<path d="M8 5h-2a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h5.697" />
						<path d="M18 14v4h4" />
						<path d="M18 11v-4a2 2 0 0 0 -2 -2h-2" />
						<path d="M8 3m0 2a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v0a2 2 0 0 1 -2 2h-2a2 2 0 0 1 -2 -2z" />
						<path d="M18 18m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0" />
						<path d="M8 11h4" />
						<path d="M8 15h3" />
					</svg>
					<h6 class="title mb-1">Purchase Report</h6>
					<p class="small text-muted mb-0 d-none d-xl-inline-flex">Description text here...</p>
					<div class="go-corner">
						<div class="go-arrow">→</div>
					</div>
				</a>
			</li>
			<li class="col">
				<a class="card hr-arrow p-4" href="{% url "stock-report" user.id %}" title="Reports" style="--dynamic-color: var(--theme-color2);">
					<svg xmlns="http://www.w3.org/2000/svg" class="mb-3" width="24" viewBox="0 0 24 24"  stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/>
						<path d="M8 5h-2a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h5.697" />
						<path d="M18 14v4h4" />
						<path d="M18 11v-4a2 2 0 0 0 -2 -2h-2" />
						<path d="M8 3m0 2a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v0a2 2 0 0 1 -2 2h-2a2 2 0 0 1 -2 -2z" />
						<path d="M18 18m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0" />
						<path d="M8 11h4" />
						<path d="M8 15h3" />
					</svg>
					<h6 class="title mb-1">Stock Report</h6>
					<p class="small text-muted mb-0 d-none d-xl-inline-flex">Description text here...</p>
					<div class="go-corner">
						<div class="go-arrow">→</div>
					</div>
				</a>
			</li>
		</ul>
	</div>
</div>
{% endblock content %}

