{% extends "./base.html" %} {% load static %} {% block title %} X-Empire -
{{role}} Dashboard {% endblock title %}
<!--[ Template main css file ]-->
<link
  rel="stylesheet"
  href="{% static "/css/accounts2.css" %}"
/>
<link rel="stylesheet" href="{% static "/css/style.min.css" %}" />
<link rel="stylesheet" href="{% static "/css/Theme.min.css" %}" />

{% block content %}

<div class="content">
  {% comment %} Page header {% endcomment %} 
  {% include "./header.html" %} 
  {% comment %} {%comment %}end Page header {% endcomment %} 
  <!-- start: page body area -->
  <div class="px-xl-5 px-lg-4 px-3 py-3 page-body">
    <div class="row g-3 mb-3">
      <div class="col-md-6 col-lg-3">
        <div class="card">
          <div class="card-header">
            <h6 class="card-title mb-0">Today Booking</h6>
          </div>
          <div class="card-body">
            <h2>{{reserve}}</h2>
            <span class="badge bg-primary">+11% </span>
            <span class="text-muted">From previous period</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="card">
          <div class="card-header">
            <h6 class="card-title mb-0">Total Amount</h6>
          </div>
          <div class="card-body w">
            <h2 style="font-size: 20px">&#8358; {{total_amount}}</h2>
            <span class="badge bg-info">+05% </span>
            <span class="text-muted">New income</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="card">
          <div class="card-header">
            <h6 class="card-title mb-0">Total Customer</h6>
          </div>
          <div class="card-body">
            <h2>{{customers_count}}</h2>
            <span class="badge bg-warning">+11% </span>
            <span class="text-muted">From previous period</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="card">
          <div class="card-header">
            <h6 class="card-title mb-0">Total Booking</h6>
          </div>
          <div class="card-body">
            <h2>{{total_booking_count}}</h2>
            <span class="badge bg-success">+21% </span>
            <span class="text-muted">From previous period</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row g-3">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h6 class="card-title">Reservations</h6>
          </div>
          <div class="card-body">
            <div id="reservations" style="height: 280px"></div>
          </div>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <h6 class="card-title">Today Booking List</h6>
          </div>
          <div class="card-body">
            <table
              class="table dataTable align-middle table-hover table-body"
              style="width: 100%"
            >
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Room Type</th>
                  <th>Check In</th>
                  <th>Check Out</th>
                  <th>Paid Amount</th>
                  <th>Due Amount</th>
                  <th>Payment Status</th>
                </tr>
              </thead>
              <tbody>
                {% for reservations in reservation %}
                <tr>
                  <td>{{reservations.guest.first_name}}</td>
                  <td>
                  {{reservations.room.roomType}}
                  </td>
                  <td>
                  {{reservations.check_in}}
                  </td>
                  <td>
                  {{reservations.check_out}}

                  </td>
                  <td>
                  {{reservations.payment_det.amount}}

                  </td>
                  <td>
                  {{reservations.payable_amount}}

                  </td>
                  {% if reservations.payment_det.payment_status == "Pending" %}
                  <td><span class="badge text-bg-warning">
                  {{reservations.payment_det.payment_status}}
                  </span></td>
                  {% else %}
                  <td><span class="badge text-bg-primary">
                  {{reservations.payment_det.payment_status}}
                  </span></td>
                  {% endif %}
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
